@model ItemsListViewModel
@ViewBag.CurrentCategory

<h1>@Model.CurrentCategory</h1>
@foreach (var item in Model.Items)
{
    @*<div>
            <h2>@pie.Name</h2>
            <h3>@pie.Price.ToString("c")</h3>
            <h4>@pie.Category.CategoryName</h4>
        </div>*@

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@item.ImageThumbnailUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">@item.Price.ToString("c")</h3>
                <h3>
                    <a>@item.Name</a>
                </h3>
                <p>@item.shortDescription</p>
            </div>
        </div>
    </div>
}
